.account {
  padding: 1rem;
}

.account__userinfo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.account__name {
  font-size: 24px;
  font-weight: 700;
}

.account__note {
  font-size: 14px;
  padding-top: 14px;
}

.account__note p {
  margin-top: 0;
  margin-bottom: 0;
}