/**
 * Base button.
 */
.button {
  border: 1px solid rgb(203 213 225);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button--disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

/**
 * This button is used for icons that
 * should be used as a buttons.
 * 
 * This class should be used like this:
 *     <button class="icon-button">
 *         <svg ...>
 *     </button>
 */
.icon-button {
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  border: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99999px;
}

.icon-button > * {
  height: 24px;
  width: 24px;
}

@media (prefers-color-scheme: dark) {
  /* .icon-button {
    background-color: var(--background-color);
    color: var(--text-)
  } */
}
