.compose__wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.compose__wrapper textarea {
  margin-top: 8px;
}

.compose-toolbar {
  display: flex;
  gap: 8px;
}

.compose-toolbar__zen > svg {
  color: darkgray;
}

.compose-toolbar__zen > svg:hover {
  color: black;
}

@media screen and (min-width: 1240px) {
  .compose__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.compose__post {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 1240px) {
  .compose__post {
    flex-direction: row;
  }
}

.compose__button {
  width: 100%;
  align-self: center;
}

.compose-preview {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.compose-preview > img {
  max-width: 100px;
  height: auto;
  border-radius: 4px;
  align-self: start;
}

@media screen and (min-width: 1240px) {
  .compose__button {
    width: auto;
    margin-left: auto;
  }
}

.zen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 30;
}

.zenTextarea {
  font-size: 20px;
  height: 100%;
  border: none;
  padding: 16px;
  resize: none;
}

.zenTextarea:focus {
  outline: none;
}

.zenButton {
  position: absolute;
  top: 12px;
  right: 12px;
}

.zenButton > svg {
  color: darkgray;
}

.zenButton > svg:hover {
  color: black;
}

.zenWrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .zenWrapper {
    width: 700px;
  }
}

@media (prefers-color-scheme: dark) {
  .compose-toolbar__zen > svg:hover, .zenButton > svg:hover {
    color: white;
  }

}
