.filepicker {
	display: flex;
	align-items: center;
}

.filepicker > button {
	display: inline-flex;
	align-items: center;
	background: transparent;
	border: none;
}

.filepicker > button > svg {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.filepicker > input {
	display: none;
}

.filepicker > span {
	color: gray;
	cursor: pointer;
}

.filepicker > span:hover {
	text-decoration: underline;
}
