.ltHeader {
  width: 100%;
}

.ltContainer {
  display: flex;
  flex-direction: column;
}

.ltMiddle {
  width: 100%;
}

.ltRight {
  width: 100%;
  display: none;
}

.ltFooter {
  height: 20px;
  padding-top: 8px;
  /* border-top: 1px solid gray; */
}

@media screen and (min-width: 1240px) {
  .ltContainer {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .ltMiddle {
    max-width: 680px;
    width: calc(100% - 280px);
  }

  .ltRight {
    display: block;
    width: 280px;
    padding-left: 16px;
  }

  .statuses-list {
    padding: 0;
  }
}
