@import "layout.css";
@import "navigation.css";
@import "compose.css";
@import "timeline.css";
@import "button.css";
@import "avatar.css";
@import "infoblock.css";
@import "account.css";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #212427;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

.show-sensitive-content {
  margin-top: 8px;
}

.show-sensitive-content > button {
  width: 100%;
}

.statuses-list {
  padding: 4px;
}

.statuses-list__status {
  border-top: 1px solid rgb(235, 238, 240);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.status--boosted {
  margin-bottom: 8px;
  color: darkgray;
}

.status-attachment-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.status-attachment-container--2col {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.status-attachment--link {
  width: 100%;
}

.status-attachment--image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.status-attachment--video {
  width: 100%;
}

.status__content {
  overflow: hidden;
}

.status__content--clickable > p {
	cursor: pointer;
}

.status-root .status__content {
  font-size: 1.25rem;
}

.status__buttons {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.status-button {
  background-color: white;
  cursor: pointer;
  border: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99999px;
}

.status-button:hover {
  background-color: rgb(235, 238, 240);
}

.status-button--boosted {
  color: red;
}

.status-button__delete {
  margin-left:auto;
}

.status-button > * {
  height: 24px;
  width: 24px;
}

.status-descendants {
  margin-top: 2rem;
}

.status__header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.status__username {
  display: flex;
  gap: 2px;
  flex-direction: column;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.username__acc {
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

.username__acc:hover {
  text-decoration: underline;
}

.status__create-date {
  color: gray;
  font-style: italic;
  margin-left: auto;
  align-self: start;
  font-size: 14px;
}
