body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

.layout__header {
  width: 100%;
}

.layout__container {
  display: flex;
  flex-direction: column;
}

.layout__middle {
  width: 100%;
}

.layout__right {
  width: 100%;
  display: none;
}

.show-sensitive-content {
  margin-top: 8px;
}

.show-sensitive-content > button {
  width: 100%;
}

@media screen and (min-width: 1240px) {
  .layout__container {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .layout__middle {
    max-width: 680px;
    width: calc(100% - 280px);
  }

  .layout__right {
    display: block;
    width: 280px;
    padding-left: 16px;
  }

  .statuses-list {
    padding: 0;
  }
}

.layout__footer {
  height: 20px;
  padding-top: 8px;
  /* border-top: 1px solid gray; */
}

.infoblock {
  border-radius: 8px;
  border: 1px solid rgb(235, 238, 240);
  padding: 8px;
  font-size: 14px;
}

.infoblock > h2 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
}
.infoblock   a {
  color: gray;
}

.nav {
  height: 40px;
  color: darkolivegreen;
  position: sticky;
  top: 0;
  margin-bottom: 16px;
  display: flex;
  place-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid rgb(235, 238, 240);
  background-color: white;
}

.nav--signup-container {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.nav__login, .nav__logout {
  cursor: pointer;
}

.nav__login:hover, .nav__logout:hover {
  text-decoration: underline;
}

.nav__compose {
  font-size: 20px;
  color: darkred;
  margin-left: 10px;
}

.compose__text {
  width: 100%;
  box-sizing: border-box;
  display: block;
  resize: vertical;
}

.compose__post {
  margin-top: 16px;
  display: block;
}

.statuses-list {
  padding: 4px;
}

.statuses-list__status {
  border-top: 1px solid rgb(235, 238, 240);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.status--boosted {
  margin-bottom: 8px;
  color: darkgray;
}

.status-attachment-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.status-attachment-container--2col {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.status-attachment--image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.status-attachment--video {
  width: 100%;
}

.status__buttons {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

#timeline-root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timeline__load-more-container {
  padding-left: 4px;
  padding-right: 4px;
  margin-top: auto;
}

.timeline__load-more {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

@media screen and (min-width: 1240px) {
  .timeline__load-more {
    font-size: 14px;
  }
}

.status__header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.status__username {
  display: flex;
  gap: 2px;
  flex-direction: column;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.username__acc {
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

.username__acc:hover {
  text-decoration: underline;
}

.status__create-date {
  color: gray;
  font-style: italic;
  margin-left: auto;
  align-self: start;
  font-size: 14px;
}

.avatar {
  cursor: pointer;
  border-radius: 9000px;
}

.avatar--md {
  width: 40px;
  height: 40px;
}

.avatar--lg {
  width: 60px;
  height: 60px;
}

.account {
  padding: 1rem;
}

.account__userinfo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.account__name {
  font-size: 24px;
  font-weight: 700;
}

.account__note {
  font-size: 14px;
  padding-top: 14px;
}

.account__note p {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  border: 1px solid rgb(203 213 225);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button--disabled {
  background-color: #f9f9f9;
}
