/* The navigation bar container */
.navBar {
  height: 40px;
  position: sticky;
  top: 0;
  margin-bottom: 16px;
  display: flex;
  place-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid var(--base-border);
  background-color: var(--background-color);
  /* Should be less than in compose-zen wrapper (30) */
  z-index: 20;
}

/* A link inside the navigation bar */
.navBar-link {
  display: inline-flex;
  place-items: center;
  gap: 0.25rem;
  cursor: pointer;
  line-height: 40px;
  font-variant: small-caps;
  color: var(--text-color);
  text-decoration: none;
}

.navBar-link + .navBar-link {
  margin-left: 16px;
}

/* Set the size of an icon in the link, if any */
.navBar-link > svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* A container that holds links that should be aligned to the right side of a sidebar */
.navBar-rightItems {
  margin-left: auto;
  display: flex;
  align-content: center;
}

/**
 * On mobile, show only icons and hide the text
 */
.navBar-link > span {
  display: none;
}

@media screen and (min-width: 1240px) {
  /* Show links text */
  .navBar-link > span {
    display: inline;
  }

  /** We show text, so make icon smaller */
  .navBar-link > svg {
    width: 1rem;
    height: 1rem;
  }
}
