.nav {
  height: 40px;
  position: sticky;
  top: 0;
  margin-bottom: 16px;
  display: flex;
  place-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid rgb(235, 238, 240);
  background-color: white;
}

.nav--link {
  display: inline-flex;
  place-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.nav--link > svg {
  width: 1rem;
  height: 1rem;
}

.nav a {
  line-height: 40px;
  font-variant: small-caps;
  color: #212427;
  text-decoration: none;
}

.nav a:hover {
  color: black;
}

.nav a+a {
  margin-left: 1rem;
}

.nav--signup-container {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.nav__login, .nav__logout {
  cursor: pointer;
}

.nav__login:hover, .nav__logout:hover {
  text-decoration: underline;
}