.ntf-clear {
  width: 100%;
}

.ntf-actions {
  padding: 0px 4px;
}

.ntf-noData {
  text-align: center;
  color: gray;
}

@media screen and (min-width: 1240px) {
  .ntf-clear {
    width: auto;
    margin: 0;
  }
  .ntf-actions {
    padding: 0;
  }
}

.ntf-root {
  display: flex;
  flex-direction: column;
}

.ntf-root > * {
  margin-top: 24px;
  padding: 16px 4px;
}

.ntf-root > * + * {
  border-top: 1px solid var(--base-border);
}

.notificationReblog__profile {
  display: flex;
  align-items: center;
  gap: 8px;
}
