/* The main wrapper for the profile header */
.ph {
  padding: 1rem;
}

/* The wrapper for avatar and user name */
.phUserInfo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

/* Profile name */
.phName {
  font-size: 24px;
  font-weight: 700;
}

/* Profile description */
.phNote {
  font-size: 14px;
  padding-top: 14px;
}

.phActions {
  margin-top: 14px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.phActions > button {
  flex-basis: 1;
  flex-grow: 1;
}

.phFields {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.phFieldItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media  screen and (min-width: 640px) {
  .ph-actions > button {
    flex-basis: content;
    flex-grow: 0;
  }  
}
