/* The main wrapper for the profile header */
.ph {
  padding: 1rem;
}

/* The wrapper for avatar and user name */
.ph-userInfo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

/* Profile name */
.ph-name {
  font-size: 24px;
  font-weight: 700;
}

/* Profile description */
.ph-note {
  font-size: 14px;
  padding-top: 14px;
}

.ph-note p {
  margin-top: 0;
  margin-bottom: 0;
}

.ph-actions {
  margin-top: 14px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.ph-actions > button {
  flex-basis: 1;
  flex-grow: 1;
}

@media  screen and (min-width: 640px) {
  .ph-actions > button {
    flex-basis: content;
    flex-grow: 0;
  }  
}
