.search-input {
    margin-bottom: 2rem;
}

.search-form, .search-profileDetails {
    padding: 0 4px 0 4px;
}

.search-profileDetails {
    cursor: pointer;
}

.search-accountsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-accountItem {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}